@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* VARIABLES */

:root {
    --background-primary: #071225;
    --background-secondary: #3F3E5D;
    --background-aside: #4E4E86;
    --button-color-primary: #6264A7;
    --button-color-hover: #7A7FEA;
    --font-color-primary: #e7e7e7;
    --font-primary: "Open Sans", sans-serif;
    --border-radius: 5px;
}

[data-theme="light-theme"] {
    --background-primary: #BCBDFF;
    --background-secondary: #9EA2FF;
    --background-aside: #8C90F4;
    --button-color-primary: #7A7FEA;
    --font-color-primary: #181818;
    --font-color-secondary: #e7e7e7;
    --button-color-hover: #6264A7;   
}

.hidden {
    display: none;
}

body{
    background-color: var(--background-primary);
    color: var(--font-color-primary);
    font-family: var(--font-primary);
}

/* HEADER SECTION */

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: var(--background-secondary);
}

h1{
    font-size: 2.5em;
}

button{
    background-color: var(--button-color-primary);
    color: var(--font-color-primary);
    border: none;
    border-radius: var(--border-radius);
    padding: 10px;
}

.header-buttons{
    margin-top: 20px;
}

.header-buttons button{
    font-size: 1em;
    background: none;
}

.header-buttons button:hover{
    background-color: var(--button-color-hover);
}

/* MAIN SECTION */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meme-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 600px;
    height: 600px;
    margin-top: 20px;
}

.meme-text-container{
    padding: 30px;      /*ES EL ESPACIADO*/
    font-size: 30px;    /* TAMAÑO DE LA FUENTE*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*VER SI SE PUEDE PREDETERMINADO*/
    font-weight: bold;
}

.download-meme{
    background-color: rgb(39, 175, 39);
    margin-top: 25px;
    padding: 15px;
}

article{
    width: 100%;
    height: 450px;
    background-color: black; /* COLOR DE FONDO DE LA IMAGEN */
}

/* ASIDE SECTION */

aside{
    background-color: var(--background-aside);
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 15px;
    font-size: 0.8em;
    text-transform: uppercase;
}

/* ASIDE IMAGE */

.aside-img{
    display: none;
}

.aside-img h2, .aside-text h2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

fieldset, input, select{
    border: none;
    outline: none;
}

input{
    width: 100%;
    background-color: var(--button-color-primary);
    border-radius: var(--border-radius);
}

.url-title, .background-title, .filters-title{
    font-weight: bolder;
    margin: 25px 0px 15px 0px;
}

.url-img input{   
   padding: 10px;
   margin: 15px 0px;
}

.background-color-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.background-color{
    display: flex;
    align-items: center;
    padding-left: 5px;
    width: 48%;
    background-color: var(--button-color-primary);
    border-radius: var(--border-radius);
}

span{
    margin-left: 5px;
}

.background-effect{
    background-color: var(--button-color-primary);
    padding: 10px;
    color: var(--font-color-primary);
    border-radius: var(--border-radius);
}

input[type='color']{
-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

input[type='color']::-webkit-color-swatch {
  border-radius: 50%;
  border: 0px solid #000000;
}

input[type='color']::-moz-color-swatch {
  border-radius: 50%;
  border: 7px solid #000000;
}

.filters{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input[type='range']{
    height: 10px;
    border-radius: 20px;
    background-color: var(--button-color-primary);
    appearance: none;
    margin: 15px 0px;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    background-color: var(--font-color-primary);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: -2px;
}

input[type=range]::-moz-range-thumb {
    background-color: var(--font-color-primary);
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
  
input[type=range]::-ms-thumb {
    background-color: var(--font-color-primary);
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

input[type='range']:focus{
    background-color: var(--button-color-hover);
}

/* ASIDE TEXT */

.font, .spacing, .interline, .meme-text input{
    width: 100%;
    padding: 10px;
    margin: 15px 0px;
    background-color: var(--button-color-primary);
    color: var(--font-color-primary);
}

input[type='checkbox']{
    width: 10%;
    margin-bottom: 20px;
}

.checkbox-description{
    text-transform: none;
}

.font-container{
    display: flex;
    flex-direction: column;
}

.font{
    margin: 10px 0px 0px 0px;
}

.align-container{
    display: flex;
    margin: 5px 0px 10px 0px; 
}

.font-size{
    padding: 10px;
    width: 50%;
    margin-right: 2px;
    color: var(--font-color-primary);
}

.align-container div{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.aling-button{
    width: 36px;
}

.text-color-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.text-color{
    width: 48%;
    display: flex;
    flex-direction: column;  
}

.text-color div{
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px 0px 10px 0px;
    background-color: var(--button-color-primary);
    border-radius: var(--border-radius);
}

.outline-container div{
    margin: 10px 0px 20px 0px;
}









